* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
}
body{
    width: 100%;
    min-height: 1008px;
    background-color: rgb(243, 243, 243);
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}
.instagram-wrapper{
    display: flex;
    align-items: center;
    justify-content: start;
    width: 746.4;
    height: 100vh;
}
.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 350px;
    float: left;
    margin-top: 100px;

}
.instagram-phone img{
    height: 500px;
}

.instagram-continue{
    display:table;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    width: 272px;
    min-height: 544px;
    float: left;
    margin-top: 100px;
}
.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: white;
    width: 100%;
    padding: 21px 0;
    border: 1px solid lightgray;
    margin-top: 10px;
}
.group:nth-child(1){
    min-height: 304px;

}

.instagram-logo{
    width: 200px;
    height: 150px;
    padding-bottom: 20px;
}
.profile-photo{
display: flex;
justify-content: center;
align-items: center;
border-radius: 50%;
overflow: hidden;
margin-bottom: 20px;
}
.profile-photo img{
    height: 96px;
}
.instagram-login{
    background-color: #0095f6;
    color: white;
    padding: 8px;
    border-radius: 4px;
}
.instagram-logout{
    color: #0095f6;
    margin-top: 16px;
}
.not-account{
    color: rgb(169, 160, 160);
}
.link-blue{
    color: #0095f6;
}
.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 21px 0;
}
.download{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
    padding: 16px;
}
.app-download{
    height: 48px;
    width: 163px;
    background-size: cover;
}
.app-download:nth-child(1){
    background-image: url(img/apple.png);
    margin-right: 10px;
   
}
.app-download:nth-child(2){
    background-image: url(img/google.png);
}

@media (max-width: 716px){
    
    .instagram-wrapper{
        width: 90%;
    }
    .instagram-phone{
        display: none;
    }
    .instagram-continue{
        width: 100%;
    }

    
}